{% extends 'base.html.twig' %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h2>Register</h2>
    </div>
    <div class="card-body">

    {{ form_start(registrationForm) }}

        {{ form_label(registrationForm.username) }}
        {{ form_widget(registrationForm.username , {'attr': {'class':  'form-control'}, 'label': 'Username'}) }}
        {% if form_errors(registrationForm.username) %}
            <div class="alert alert-danger m-3 p-1">
                {{ form_errors(registrationForm.username) }}
            </div>
        {% endif %}

        {{ form_label(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class':  'form-control'}, 'label': 'Password'})}}
        {% if form_errors(registrationForm.plainPassword) %}
            <div class="alert alert-danger m-3 p-1">
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
        {% endif %}

        {{ form_label(registrationForm.userFirstName) }}
        {{ form_widget(registrationForm.userFirstName, {'attr': {'class':  'form-control'}, 'label': 'First Name'})}}
        {% if form_errors(registrationForm.userFirstName) %}
            <div class="alert alert-danger m-3 p-1">
                {{ form_errors(registrationForm.userFirstName) }}
            </div>
        {% endif %}

        {{ form_label(registrationForm.userLastName) }}
        {{ form_widget(registrationForm.userLastName, {'attr': {'class':  'form-control'}, 'label': 'Last Name'})}}
        {% if form_errors(registrationForm.userLastName) %}
            <div class="alert alert-danger m-3 p-1">
                {{ form_errors(registrationForm.userLastName) }}
            </div>
        {% endif %}

        {{ form_label(registrationForm.userSurname) }}
        {{ form_widget(registrationForm.userSurname, {'attr': {'class':  'form-control'}, 'label': 'Surname'})}}
        {% if form_errors(registrationForm.userSurname) %}
            <div class="alert alert-danger m-3 p-1">
                {{ form_errors(registrationForm.userSurname) }}
            </div>
        {% endif %}

        {{ form_label(registrationForm.userPhone) }}
        {{ form_widget(registrationForm.userPhone, {'attr': {'class':  'form-control'}, 'label': 'Phone'})}}
        {% if form_errors(registrationForm.userPhone) %}
            <div class="alert alert-danger m-3 p-1">
                {{ form_errors(registrationForm.userPhone) }}
            </div>
        {% endif %}

        {{ form_label(registrationForm.userEmail) }}
        {{ form_widget(registrationForm.userEmail, {'attr': {'class':  'form-control'}, 'label': 'Email', 'placeholder':'example@gmail.com'})}}
        {% if form_errors(registrationForm.userEmail) %}
            <div class="alert alert-danger m-3 p-1">
                {{ form_errors(registrationForm.userEmail) }}
            </div>
        {% endif %}

        {{ form_label(registrationForm.userSocialLink) }}
        {{ form_widget(registrationForm.userSocialLink, {'attr': {'class':  'form-control'}, 'label': 'Some social link', 'placeholder':'examlpe: https://web.telegram.org/k/'})}}
        <button type="submit" class="btn btn-primary mt-3">Register</button>
    {{ form_end(registrationForm) }}
    </div>
</div>

{% endblock %}
