<form method="post" action="{{ path('app_comment_delete', {'commentId': comment.commentId, 'post_id' : post.getPostId()}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.commentId) }}" >
    <button class="btn btn-danger mt-3"><i class="fa-solid fa-trash"></i> Delete</button>
</form>
