{{ form_start(form) }}
{{ form_label(form.commentContent) }}
        {{ form_widget(form.commentContent, {'attr': {'class':  'form-control'}, 'label': 'Content'}) }}
{% if form_errors(form.commentContent) %}
    <div class="alert alert-danger m-3 p-1">
        {{ form_errors(form.commentContent) }}
    </div>
{% endif %}
    <button class="btn btn-primary mt-3"><i class="fa-regular fa-floppy-disk"></i> {{ button_label|default('Save') }}</button>
{{ form_end(form) }}
