{# {% extends 'base.html.twig' %}  #}

{# {% block body %}  #}
<div class="mt-4">
        <div class="card-header row " id="heading">
            <div class="row col-12 col-lg-10 m-auto">
                <div class="col-8 px-2 pt-3"><h4> <i class="fa-solid fa-comment pr-2"></i>  Comments</h4></div>
            </div>

                <div class="col-12 col-lg-2 py-2 m-auto">
                    <a class="btn btn-primary" href="{{ path('app_comment_new' , {'post_id' : post.getPostId()}) }}"><i class="fa-regular fa-square-plus"></i> Add Comment</a>
                </div>

        </div>
        <div class="card-body">
                {% for comment in post.getPostComments %}
                    <h6 class="card-title">
                        @{{ comment.commentAuthor }} - <small class="text-muted">{{ comment.commentDate ? comment.commentDate|date('H:i d M Y') : '' }}</small>
                    </h6>
                    <p class="mx-3 border border-light">{{ comment.commentContent }}</p>
                    {% if app.user %}
                            {% if comment.getCommentAuthor() == app.user.username or is_granted("ROLE_SUPER_ADMIN") %}
                            {{ include('comment/_delete_form.html.twig') }}
                        {% endif %}
                    {% endif %}
                    <hr class="my-2">
                {% else %}
                    <div class="alert alert-primary" role="alert">
                        No comments yet
                    </div>
                {% endfor %}
        </div>
</div>

{# {% endblock %}  #}
