{% extends 'base.html.twig' %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h2>Add Comment</h2>
    </div>
    <div class="card-body">
        {{ include('comment/_form.html.twig') }}
{#    <a class="btn btn-primary mt-3" href="{{ path('app_post_show', {'postId': comment.getCommentPost()}) }}"><i class="fa-solid fa-right-to-bracket"></i> back to post</a>#}
    </div>
</div>
{% endblock %}
