<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyBlog</title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/482ef8486f.js" crossorigin="anonymous"></script>


{#    <!--My Style-->#}
{#    <link rel="stylesheet" href="{{ asset('bundles/css/blog_style.css') }}">#}

</head>
<body>
<div class="container-xl">
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_post_index') }}">{{ 'my_blog'|trans({}, 'main-page')|raw }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if is_granted('ROLE_USER') and app.user.isUserApprove()%}
                        <li class="nav-item">
                            <a class="nav-link" href="{{  path('app_user_show', {'userId': app.user.userId}) }}" role="button">
                                {{ 'my_profile'|trans({}, 'main-page')|raw }}
                            </a>
                        </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" >
                            {{ 'post'|trans({}, 'main-page')|raw }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('app_post_index') }}">{{ 'post_list'|trans({}, 'main-page')|raw }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_post_index', {'username':app.user.username} )}}">{{ 'my_posts_list'|trans({}, 'main-page')|raw }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_post_drafts') }}">{{ 'my_drafts_list'|trans({}, 'main-page')|raw }}</a></li>
                            {% if is_granted('ROLE_MODERATOR') %}
                                <li><a class="dropdown-item" href="{{ path('app_post_not_published') }}">{{ 'posts_to_approve'|trans({}, 'main-page')|raw }}</a></li>
                            {% endif  %}
                            <li><a class="dropdown-item" href="{{ path('app_post_in_check') }}">{{ 'posts_in_check'|trans({}, 'main-page')|raw }}</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('app_post_new') }}">{{ 'create_post'|trans({}, 'main-page')|raw }}</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_MODERATOR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_user_index') }}" role="button">
                            {{ 'users'|trans({}, 'main-page')|raw }}
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <form class="d-flex">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="text" class="form-control" placeholder="username" aria-label="username" name="username" aria-describedby="basic-addon1">
                        <button class="btn btn-outline-success" type="submit">{{ 'search'|trans({}, 'main-page')|raw }}</button>
                    </div>
                </form>
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">

                        <a class="nav-link disabled" aria-disabled="true"> {{ app.user ? 'welcome'|trans({}, 'main-page')|raw:'' }}{{ app.user ? app.user.username: "" }}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{  path(app.user ? 'app_logout' : 'app_login')}}" role="button">
                            {{ app.user ? 'logout'|trans({}, 'main-page')|raw : 'login'|trans({}, 'main-page')|raw}}
                        </a>
                    </li>
                    <li class="nav-item">
                        {% if not app.user %}
                        <a class="nav-link" href="{{ path('app_register') }}" role="button">
                            {{ 'register'|trans({}, 'main-page')|raw }}
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="container-xl mt-5 p-3">
{% block body %}
{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</div>
</body>
</html>