<form method="post" action="{{ path('app_post_delete', {'postId': post.getPostId()}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.getPostId()) }}">
    <div class="col-3"><button class="btn btn-danger mt-3"><i class="fa-solid fa-trash"></i> Delete</button></div>
</form>
