{{ form_start(form) }}
{{ form_label(form.postTitle) }}
{{ form_widget(form.postTitle, {'attr': {'class':  'form-control'}, 'label': 'Post Title'}) }}
{% if form_errors(form.postTitle) %}
<div class="alert alert-danger m-3 p-1 ">
    {{ form_errors(form.postTitle) }}
</div>
{% endif %}


{{ form_label(form.postContent) }}
{{ form_widget(form.postContent) }}
{% if form_errors(form.postContent) %}
    <div class="alert alert-danger m-3 p-1">
        {{ form_errors(form.postContent) }}
    </div>
{% endif %}

<div class="col-3"><button class="btn btn-primary mt-3"><i class="fa-regular fa-floppy-disk"></i> {{ button_label|default('Save') }}</button></div>
{{ form_end(form) }}