{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h2>Edit Post</h2>
    </div>
    <div class="card-body">
            {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

            <div class="col-3 mt-3"><a class='btn btn-primary' href="{{ path('app_post_index') }}"><i class="fa-solid fa-right-to-bracket"></i> back to list</a></div>
            {{ include('post/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
