{% extends 'base.html.twig' %}

{% block body %}


{#<div class="card">#}
{#<div class="card-header">#}
{#    <h2>Post List</h2>#}
{#</div>#}
{#    <div class="row row-cols-1 row-cols-md-3 g-4 p-3">#}
{#        {% for post in posts %}#}
{#            {% if post.postApprove %}#}
{#        <div class="col">#}

{#            <div class="card  shadow p-2 bg-white rounded">#}
{#                <div class="row no-gutters" >#}
{#                    <div class="col-lg-12" style="max-height: 180px;">#}
{#                        <div class="post-list-card-body card-body " >#}
{#                            <h3 class="post-list-title card-title">{{ post.postTitle|trans|raw }}</h3>#}
{#                            <p class="date"><small class="text-muted">{{post.postPublishedDate|date('H:i d M Y')}}, @{{ post.postAuthor }}, {{ post.getPostComments|length }} comments</small></p>#}
{#                            <div class="post-list-footer text-right"><a class="btn btn-primary" href="{{ path('app_post_show', {'postId': post.getPostId()}) }}"><i class="fa-regular fa-eye"></i> Read More</a>#}
{#                                {% if app.user %}#}
{#                                    {% if post.getPostAuthor() == app.user.username %}#}
{#                                        <a class="btn btn-warning" href="{{ path('app_post_edit', {'postId': post.getPostId()}) }}"><i class="fa-solid fa-pen-to-square"></i> edit</a>#}
{#                                    {% endif %}#}
{#                                {% endif %}#}
{#                                {% if not post.postPublishedDate %}#}
{#                                    <a class="btn btn-success" href="{{ path('app_post_publish', {'postId': post.getPostId()}) }}"><i class="fa-solid fa-upload"></i> publish</a>#}
{#                                {% endif %}#}
{#                                {% if not post.postApprove %}#}
{#                                    <a class="btn btn-success" href="{{ path('app_post_approve', {'postId': post.getPostId()}) }}"><i class="fa-solid fa-check"></i> approve</a>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            {% endif %}#}

{#        </div>#}
{#        {% else %}#}
{#            <div class="alert alert-primary" role="alert">#}
{#                No posts yet#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}



    <div class="card">
        <div class="card-header">
            <h2>{{ 'post_list'|trans({}, 'main-page')|raw }}</h2>
        </div>
        <div class="card-body">
                {% for post in posts %}
                    {% if post.postApprove and post.postPublishedDate and not post.getPostDeletedDate %}
                    <div class="card mt-3 shadow p-2 bg-white rounded">
                        <div class="row no-gutters" >
                            <div class="col-lg-12" style="max-height: 245px;">
                                <div class="post-list-card-body card-body" >
                                    <h3 class="post-list-title card-title">{{ post.postTitle|trans|raw }}</h3>
                                    <p class="date"><small class="text-muted">{{post.postPublishedDate|date('H:i d M Y')}}, @{{ post.postAuthor }}, {{ post.getPostComments|length }} comments</small></p>
{#                                    <p class="post-list-card card-text overflow-hidden">{{post.postContent|striptags|truncate(180)|raw}}</p>#}
                                    <div class="post-list-footer text-right"><a class="btn btn-primary " href="{{ path('app_post_show', {'postId': post.getPostId()}) }}"><i class="fa-regular fa-eye"></i> Read More</a>
                                        {% if app.user %}
                                            {% if post.getPostAuthor() == app.user.username %}
                                                <a class="btn btn-warning" href="{{ path('app_post_edit', {'postId': post.getPostId()}) }}"><i class="fa-solid fa-pen-to-square"></i> edit</a>
                                            {% endif %}
                                        {% endif %}
                                        {% if not post.postPublishedDate %}
                                            <a class="btn btn-success" href="{{ path('app_post_publish', {'postId': post.getPostId()}) }}"><i class="fa-solid fa-upload"></i> publish</a>
                                        {% endif %}
                                        {% if not post.postApprove %}
                                            <a class="btn btn-success" href="{{ path('app_post_approve', {'postId': post.getPostId()}) }}"><i class="fa-solid fa-check"></i> approve</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% else %}
                    <div class="alert alert-primary" role="alert">
                        {{ 'no_posts_yet'|trans({}, 'main-page')|raw }}
                    </div>
                {% endfor %}
        </div>
    </div>



{% endblock %}

