{% extends 'base.html.twig' %}

{% block title %}


{% block body %}
    <div class="card">
    <div class="card-header">
        <h2>Create new Post</h2>
    </div>
    <div class="card-body">
        {{ include('post/_form.html.twig') }}

        <a class='btn btn-primary mt-3' href="{{ path('app_post_index') }}"><i class="fa-solid fa-right-to-bracket"></i> back to list</a>
    </div>
</div>
{% endblock %}
{% endblock %}