{% extends 'base.html.twig' %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h2>Post</h2>
    </div>
    <div class="card-body">
        <div class="text-center"><h3>{{ post.postTitle }}</h3>
            <h6>
            <small>{{ post.postPublishedDate ? post.postPublishedDate|date('H:i d M Y') : '' }} </small> - @{{ post.postAuthor }}</h6>
        </div>

<div class="row p-5 ">
        {{ post.postContent |raw}}
</div>

    <a class="btn btn-primary" href="{{ path('app_post_index') }}"><i class="fa-solid fa-right-to-bracket"></i> back to list</a>
        {% if app.user %}
            {% if post.getPostAuthor() == app.user.username or is_granted("ROLE_SUPER_ADMIN") %}
                <a class="btn btn-warning" href="{{ path('app_post_edit', {'postId': post.getPostId()}) }}"><i class="fa-solid fa-pen-to-square"></i> edit</a>
                {{ include('post/_delete_form.html.twig') }}
            {% endif %}
        {% endif %}

    <hr>
            {{ include('comment/index.html.twig') }}
    </div>
</div>
{% endblock %}
