<form method="post" action="{{ path('app_user_delete', {'userId': user.userId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.userId) }}">
    <button class="btn btn-danger mt-3"><i class="fa-solid fa-trash"></i> Delete</button>
</form>
