
{{ form_start(form) }}

                        {{ form_label(form.username) }}
                        {{ form_widget(form.username , {'attr': {'class':  'form-control'}, 'label': 'Username'}) }}
                        {% if form_errors(form.username) %}
                                <div class="alert alert-danger m-3 p-1">
                                        {{ form_errors(form.username) }}
                                </div>
                        {% endif %}

                        {{ form_label(form.userPassword) }}
                        {{ form_widget(form.userPassword, {'attr': {'class':  'form-control'}, 'label': 'Password'})}}
                        {% if form_errors(form.userPassword) %}
                                <div class="alert alert-danger m-3 p-1">
                                        {{ form_errors(form.userPassword) }}
                                </div>
                        {% endif %}

                        {{ form_label(form.userFirstName) }}
                        {{ form_widget(form.userFirstName, {'attr': {'class':  'form-control'}, 'label': 'First Name'})}}
                        {% if form_errors(form.userFirstName) %}
                                <div class="alert alert-danger m-3 p-1">
                                        {{ form_errors(form.userFirstName) }}
                                </div>
                        {% endif %}

                        {{ form_label(form.userLastName) }}
                        {{ form_widget(form.userLastName, {'attr': {'class':  'form-control'}, 'label': 'Last Name'})}}
                        {% if form_errors(form.userLastName) %}
                                <div class="alert alert-danger m-3 p-1">
                                        {{ form_errors(form.userLastName) }}
                                </div>
                        {% endif %}

                        {{ form_label(form.userSurname) }}
                        {{ form_widget(form.userSurname, {'attr': {'class':  'form-control'}, 'label': 'Surname'})}}
                        {% if form_errors(form.userSurname) %}
                                <div class="alert alert-danger m-3 p-1">
                                        {{ form_errors(form.userSurname) }}
                                </div>
                        {% endif %}

                        {{ form_label(form.userPhone) }}
                        {{ form_widget(form.userPhone, {'attr': {'class':  'form-control'}, 'label': 'Phone'})}}
                        {% if form_errors(form.userPhone) %}
                                <div class="alert alert-danger m-3 p-1">
                                        {{ form_errors(form.userPhone) }}
                                </div>
                        {% endif %}

                        {{ form_label(form.userEmail) }}
                        {{ form_widget(form.userEmail, {'attr': {'class':  'form-control'}, 'label': 'Email', 'placeholder':'example@gmail.com'})}}
                        {% if form_errors(form.userEmail) %}
                                <div class="alert alert-danger m-3 p-1">
                                        {{ form_errors(form.userEmail) }}
                                </div>
                        {% endif %}

                        {{ form_label(form.userSocialLink) }}
                        {{ form_widget(form.userSocialLink, {'attr': {'class':  'form-control'}, 'label': 'Some social link', 'placeholder':'examlpe: https://web.telegram.org/k/'})}}
<button class="btn btn-primary mt-3">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

