{% extends 'base.html.twig' %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h2>Edit User</h2>
    </div>
    <div class="card-body">
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="mt-3 btn btn-primary " href="{{ path('app_user_index') }}"><i class="fa-solid fa-right-to-bracket"></i> back to list</a>

    {{ include('user/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
