{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header ">

        <div class="row">
            <div class="row col-12 col-lg-8 m-auto">
                <div class="col-8 px-2 pt-3"><h2>All Users</h2></div>
            </div>
            <div class="col-12 col-lg-2 py-2 m-auto">
                <a class="btn btn-primary mr-auto" href="{{ path('app_not_approved_users') }}"><i class="fa-solid fa-user-xmark"></i> Not approved</a>
            </div>
            <div class="col-12 col-lg-2 py-2 m-auto">
                <a class="btn btn-primary " href="{{ path('app_user_index') }}"><i class="fa-solid fa-list"></i> All Users</a>
            </div>

        </div>



    </div>
    <div class="card-body">

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Email</th>
{#                <th>Phone</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.userEmail }}</td>
{#                <td>{{ user.userPhone }}</td>#}
                <td>
                    <a class="btn btn-primary" href="{{ path('app_user_show', {'userId': user.userId}) }}"><i class="fa-regular fa-eye"></i> show</a>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a class="btn btn-warning" href="{{ path('app_user_edit', {'userId': user.userId}) }}"><i class="fa-solid fa-pen-to-square"></i> edit</a>
                        <a class="btn btn-danger" href="{{ path('app_user_role_super_admin', {'userId': user.userId}) }}"><i class="fa-solid fa-user-tie"></i>  SUPER ADMIN</a>
                        <a class="btn btn-warning" href="{{ path('app_user_role_moderator', {'userId': user.userId}) }}"><i class="fa-solid fa-user-nurse"></i> MODERATOR</a>
                        <a class="btn btn-primary" href="{{ path('app_user_role_user', {'userId': user.userId}) }}"><i class="fa-solid fa-user"></i> USER</a>
                    {% endif %}
                    {% if not user.isUserApprove() %}
                        <a class="btn btn-success" href="{{ path('app_user_approve', {'userId': user.userId}) }}"><i class="fa-solid fa-user-check"></i> approve</a>
                    {% endif %}
{#                        <a class="btn btn-success" href="{{ path('app_user_ban', {'userId': user.userId}) }}"><i class="fa-solid fa-user-large-slash"></i> ban</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
</div>
{% endblock %}
