{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h2>User Info</h2>
    </div>
    <div class="card-body">


    <table class="table">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>

            <tr>
                <th>First Name</th>
                <td>{{ user.userFirstName }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ user.userLastName }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ user.userSurname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.userEmail }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.userPhone }}</td>
            </tr>
            <tr>
                <th>Social Link</th>
                <td><a class="link-opacity-100" href="{{ user.userSocialLink }}">{{ user.userSocialLink }}</a></td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_MODERATOR') %}
        <a class="btn btn-primary" href="{{ path('app_user_index') }}"><i class="fa-solid fa-right-to-bracket"></i> back to list</a>
    {% elseif is_granted('ROLE_USER') %}
        <a class="btn btn-primary" href="{{ path('app_post_index') }}"><i class="fa-solid fa-right-to-bracket"></i> back to list</a>
    {% endif %}


    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_USER') %}
        {% if app.user.username == user.username %}
            <a class='btn btn-warning' href="{{ path('app_user_edit', {'userId': user.userId}) }}"><i class="fa-solid fa-pen-to-square"></i> edit</a>
            {{ include('user/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}
